* {
  box-sizing: border-box;
}

body {
  padding-top: 10rem;
  font-family: 'Roboto';
  background-color: $background;
  position: relative;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

// header strt

.header {
  width: 100%;
  margin: 0 auto;
  background-color: $color-head-back;
  position: fixed;
  top: 0;
  left: 0;
}

.header-container {
  padding: $spacing-small $spacing-large;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {

  display: flex;
  align-items: center;

  .header-logo__pic {
    width: 8rem;
    height: 8rem;
    background-image: url(./img/logo.svg);
    background-size: cover;
  }

  .header-logo__title {
    font-size: $font-big;
  }

}

.counter {
  font-size: $font-medium;
  font-weight: 700;
}

// header end

// style product strt

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: $spacing-large;
}

.product-item {

  font-style: italic;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $spacing-medium;
  align-items: center;
  box-shadow: 
    0 16px 24px 2px rgba(0, 0, 0, 0.02),
    0 6px 30px 5px rgba(0, 0, 0, 0.04),
    0 8px 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: $border-radius;
  background-color: $back-card;;

  .product-item__brand {
    font-size: $font-big;
  }

  .product-item__model {
    font-size: $font-medium;
  }

  .product-item__img {
    width: 250px;
    height: 250px;
  }

  .product-item__price {
    display: block;
    text-align: center;
    font-size: $font-small;
  }

  .product-item__btn {
    @include button()
  }

  .product-item__btn_active {
    @include button($back-color: $color-remove, $back-color-hover: $color-remove-hover)
  }

}

// style product end

// style footer strt

.footer {
  margin: 0 auto;
  background-color: $color-head-back;
}

.footer-container {
  padding: $spacing-medium $spacing-large;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contacts {

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-medium;

  .contacts__link {

    display: flex;
    align-items: center;
    gap: $spacing-medium;
    font-size: $font-small;
    text-decoration: none;
    color: $font-color;
    transition: 0.3s all;

    &:hover {
      transform: scale(1.1);
    }

  }

  .contacts__img {
    width: 2rem;
    height: 2rem;
    background-image: url(./img/icons8-github.svg);
    background-size: contain;
  }

}

// style footer end




